<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="images/girl-192.png" class="nav-header-icon"> <a class="navbar-brand" href="">Gassy Girl</a> <img src="images/gaspumps-192.png" class="nav-header-icon">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item nav-item-records px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="images/records-192.png" class="nav-menu-icon">
                Manage Records
            </NavLink>
        </div>
        <div class="nav-item nav-item-cars px-4">
            <NavLink class="nav-link" href="counter">
                <img src="images/car-192.png" class="nav-menu-icon">
                Manage Cars
            </NavLink>
        </div>
        <div class="nav-item nav-item-analyze px-4">
            <NavLink class="nav-link" href="fetchdata">
                <img src="images/graph-192.png" class="nav-menu-icon">
                Analyze
            </NavLink>
        </div>
        <div class="nav-item nav-item-export px-4">
            <NavLink class="nav-link" href="fetchdata">
                <img src="images/export-192.png" class="nav-menu-icon">
                Import and Export
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
