@page "/about"

<PageTitle>Gassy Girl - About</PageTitle>

<div class="content content-about">
    <h1><img src="images/about-192.png" class="content-icon"> About</h1>

    <div class="content-about-area">
        <h2>Privacy Policy</h2>

        <p>Gassy Girl stores all of its data in your browser's local IndexedDB instance. This is so it can also work offline, such as in airplane mode. It doesn't send the data anywhere. Feel free to check out the source code to confirm for yourself.</p><br />

        <h2>Background</h2>

        <p>Gassy Girl v1.2 was created and is maintained by Sniper in Blazor WebAssembly. It is published under the GNU General Public License <a target="_new" href="https://www.gnu.org/licenses/gpl-3.0.txt">v3</a>, and its source code rests <a target="_new" href="https://github.com/sniperpon/gassy-girl">here</a>. It is available on the Google Play Store, search for "Gassy Girl".</p><br />

        <h2>Change Log</h2>

        <p>
            <ul>
                <li><b>1.0:</b> Initial release.</li>
                <li><b>1.1:</b> Fixed bugs with maintenance records report.</li>
                <li><b>1.2:</b> Updated to run against .NET 8.</li>
            </ul>
        </p><br />

        <h2>Attributions</h2>

        <p>The Analyze page uses the Radzen Chart component library. Meanwhile, icon attributions are as follows:
            <ul>
                <li>Fuel pumps by Starup Graphic Design.</li>
                <li>Smiley Girl by Vandelay Design.</li>
                <li>Database by Kmg Design.</li>
                <li>Graph by Poongie S.</li>
                <li>Plane and Ship by Eucalyp Studio.</li>
                <li>Exclamation Mark by icon lauk.</li>
            </ul>
        </p>

        <p><b>Thanks be to God, who is great!</b> Give your whole self to Jesus, and embrace him as your only and true savior!</p><br />
    </div>
</div>
