@page "/analyze"
@inject IJSRuntime JSRuntime

<PageTitle>Gassy Girl - Analyze</PageTitle>

<div class="content content-analyze">
    <h1><img src="images/graph-192.png" class="content-icon"> Analyze</h1>

    <div class="content-analyze-area">
        <h2>Run a Report</h2>

        Please select a report.
    </div>
</div>

@code {

}
