@page "/importexport"
@inject IJSRuntime JSRuntime

<PageTitle>Gassy Girl - Import and Export</PageTitle>

<div class="content content-importexport">
    <h1><img src="images/export-192.png" class="content-icon"> Import and Export</h1>

    <div class="content-importexport-area">
        <h2>Import</h2>

        Select a mileage CSV file to import, then click the "Import" button.
    </div>

    <div class="content-importexport-area">
        <h2>Export</h2>

        Click the "Export" button to download a CSV file containing your mileage data.
    </div>
</div>

@code {

}
