@page "/"

<PageTitle>Gassy Girl - Manage Records</PageTitle>

<div class="content content-records">
    <h1><img src="images/records-192.png" class="content-icon"> Manage Records</h1>

    @if (numberOfRecords == 0)
    {
    <p>There is no data here, presently! Try adding a record.</p>
    }
</div>

@code {
    private int numberOfRecords = 1;
}